<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="React Site Template" />
  <meta property="og:description" content="A simple template for React and Webpack" />
  <meta name="keywords" content="react site template" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>React Site Template</title>
</head>
<body>
  <div id="container"></div>
</body>
</html>
